body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Roboto'sans-serif;
  font-family: 400;
  line-height: 30px;
}

li{
  font-size: 20px;
  text-align: left;

}

nav{
  display: flex;
  padding: 5px 60px;
  margin-bottom: 40px;
  background-color: #002e25;
  color:#ffffff;
  font-size: 20px;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: center;
  column-gap:50px;
  margin: auto;
}
.s_logo{
  max-width: 100px;
  height: 60px;
}

nav *{
  text-decoration: none;
  list-style-type: none;
  color: white;
  cursor: pointer;
}

nav *:hover{
  color:red
}
.auth{
  display: flex;
  justify-content: space-between;
  padding: 0px 300px;
  margin-top: 100px;
}
.auth div{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:20px;
}
input{
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border:2px solid gray

}
.logbtn{
  padding: 15px;
  border-radius: 10px;
}

.faq_img{
  max-width: 70%;
  margin-left: 40px;
}
.para_faq{
  display: flex;
  justify-content: space-between;
}
ul{
  width:120%;
  margin-left: 40px;
}

.about{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.about>div:nth-child(1){
  margin-left: 30px;
}
.about img{
  max-width: 60%;
  margin-left: 150px;

}

.cont_btn{
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.133;
  padding: 16px 29px;
  border-radius: 5px;
  background-color:#008060 ;
  color:white;
  color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    margin-bottom: 50px;
    margin-top: 20px;
}

.cont_btn:hover{
  background-color:#06513e ;
}
.cont_inbox{
  display: flex;
  gap:20px;
  padding: 30px;
  width: 80%;
  margin: auto;
}

.line{
  border-top: 2px solid black;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
video{
  object-fit: contain;
}

.video2{
  vertical-align: middle;
   max-width: 100%;
}


.about_div2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:300px;
  padding: 30px;
}
.about_div2>div:nth-child(1){
  text-align: left;
  margin-left: 30px;
}
.table{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: left;
  padding: 30px;
}
.topfooter{
  display: flex;
  justify-content: space-around;
}

.footerline{
  border-top: 2px solid gray;
  margin-bottom: 40px;
}
footer h6{
  margin-top: -20px;
  font-size: 13px;
}

footer{
  background-color:#002e25;
  color: white;
  padding-bottom: 20px;
  margin-top: 60px;
}

.icon{
  display: flex;
  justify-content: space-around;
}
i{
  font-size: 30px;
  border-radius: 100%;
  margin: 0px 20px;
  margin-top: 10px;
}
.term{
  margin-top: 10px;
}

.home1{
  display: flex;
  gap:20px;
  background-color: #002e25;
  color: #ffffff;
  margin-top: -40px;
  padding-bottom: 20px;
}
.home1>div{
  margin-top: 60px;
  font-size: 20px;
  line-height: 20px;
}

.slideImg{
  border-radius: 20px;
  margin-top: 30px;
  max-width: 100%;
  height: 500px;
  margin-bottom: 40px;
}

.homeGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 30px;
  gap:20px;
  text-align: left;
  margin-left: 30px;
}

.greenarrow,h5{
  color: #008060;
  touch-action: manipulation;
  cursor: pointer;
}

.arrow{
  display: flex;
  gap:10px
}
 .arrow:hover{
  gap:20px
 }

 .prodHome{
  display: flex;
  gap:20px;
  justify-content: space-between;
 }
 .btns{
  text-align: left;
  margin-left: 10px;
 }
 .sort_btn{
display: flex;
flex-direction: column;
width: 130px;
position:fixed;
left: 0;
background-color: #002e25;
border-radius: 0px 10px 10px 0px;
color:white;
transition: all .5s;

 }
 .sort_btn button{
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #002e25;
 }
 .prodDiv{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  border-radius: 10px;
  margin-left: 120px;
 }
 .prod{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
 }

 .prodDiv div img{
  max-width: 200px;
  height: 150px;
 }

 .pagi{
  margin-top: 50px;
 }
 .pagi button{
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;
 }
 .sort_btn button:hover{
  color: grey;
 }

 .single{
  width: 500px;
  margin: auto;
 }

 .single img{
  max-width: 300px;
  height: 250px;
 }

 .link{
  background-color: #008060;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: #ffffff;
 }
 .link:hover{
  background-color: #002e25;
 }

 .Link1{
  text-decoration: none;
  list-style-type: none;
  color:#ffffff
 }

 .link2{
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: #ffffff;
 }

 .link2:hover{
  background-color: rgb(31, 72, 148);
 }
 .fa-cart-shopping{
  font-size: 20px;
 }

 .cart{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  padding: 30px;
  margin-top: 30px;
 }

 .prod2{
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
 }

 Link,h5,button{
  text-decoration: none;
  list-style-type: none;
 }

 .prod2 img{
   max-width: 200px;
   height: 120px;
 }

 .del{
  background-color: red;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  margin: 5px;
  color: #ffffff;
 }
 .del:hover{
  background-color: rgb(153, 16, 16);
 }



.nav2{
  display:flex;
  flex-direction: column;
  display: none;
  column-gap: auto;
}
.nav_3{
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap:nowrap;
   align-items: center;
}
.menu{
  margin-right: 80px;
}

.amount{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  align-items: center;
}

.amount button{
  border-radius: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid #06513e;
}


.nav_link{
  display: flex;
  flex-direction: column;
  gap:30px;
  position: absolute;
  top: 75px;
  left: 30;
  width: 100%;
  background-color: #002e25;
  height: 100vh;
  transition: all .5s;
}

 @media (max-width:900px){
   .app{
    padding: 10px;
   }
  .home1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  

  .home1>div{
    margin-top: 60px;
    font-size: 15px;
    line-height: 20px;
    width: 80%;
    margin: auto;
  }
  .home1 img{
    max-width: 80%;
    height: 80%;
    margin: auto;
  }
  .home1>div input{
    width: 80%;
    margin: auto;
  }

  h1{
    line-height: 50px;
    padding: 10px;
    font-size: 20px;
  }

   .homeGrid{
    display: table;
    gap:20px
   }

   .slide_image{
    max-width: 80%;
    margin: auto;
   }

/* -------------------- Footer ------------------------ */

   footer{
    display: table;
    gap:20px;
    text-align: left;
    width: 100%;
   }
   .topfooter{
    display: table;
    gap:20px;
    margin-left: 50px;
   }

   .table{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;

   }
   .icon{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
    label i{
       font-size: 20px;
    }
   /* --------------- Navbar ----------------------- */

   nav{
    display: none;
  }
  .nav2{
    display: flex;

  }
 /* ----------------------Login ------------------- */

 .auth{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
 }


 /* ------------------------ Contact page ------------------------ */

 video{
  max-width: 80%;
  margin: auto;
 }

 .cont_inbox{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:20px
 }

 .about_div2{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap:20px
}
.about_div2>div:nth-child(1){
  text-align: center;
  margin-left: 30px;
}
.about_div2>div:nth-child(2)>img{
    max-width: 100%;
}

.nav2{
  width: 100%;
}


/* --------------------- faq page ------------------------------------- */


   .para_faq{
    flex-direction: column;
    gap:30px
   }

   .para_faq div{
    width: 80%;
    margin: auto;
   }
   ul{
    width: 80%;
    margin: auto;
   }

   .faq_img{
     max-width:80%;
     margin: auto;
   }

   .faq_p{
    width: 80%;
    margin: auto;
    text-align: justify;
   }


   /* -------------------- About page -------------------------- */

   .about{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 80%;
    margin: auto;

   }
   .about div p{
    text-align: justify;
     
   }
   .about>div:nth-child(1){
      margin-right: 20px;
   }

   .about>div:nth-child(2) img{
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
   }




   /* -------------------------- Product ---------------------------- */

   .prodDiv{

    display: flex;
    flex-direction: column;
    gap:20px;
    margin: auto;

   }


   .sort_btn{
    transition: all .5s;
   }


   .sort_btn button{
    margin-top: 5px;
   }


   /* -------------------------- cart -------------------------------- */

   .cart{
    display: flex;
    flex-direction: column;
    gap:20px;
   }


   /* ------------------ single prod --------------------------- */
   .single{
    width: 80%;
    margin: auto;
   }


 }